.HM_product_offer {
    position: relative;
    overflow: hidden;
}

.HM_offer_text {
    position       : absolute;
    width          : 100%;
    height         : 100%;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    background     : rgba(61, 70, 77, 0.5);
    z-index        : 1;
}

.HM_serves {
    display         : flex;
    justify-content : start;
    align-items     : center;
    margin          : 5px;
    /* background-color: rgb(215, 224, 224); */
    background-color: white;
    font-size       : 36px;
    width           : 24%;
    margin          : auto;
}

@media only screen and (max-width: 930px) {
    .HM_serves {
        width: 100%;
    }
}